.top-container{
    background-color: lightblue;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    position: relative;
}

.logo{
    position: absolute;
    top: 50%;
    left: 3.75%;
    transform: translate(0%, -50%);
    max-width: 20%;
    width: auto;
    height: auto;
}

.title{
    flex: 1;
    text-align: center;
    color: whitesmoke;  
    font-size: 100px;
    font-family: monospace;
}

.mobile-nav-icon{
    display: none;
    position: absolute;
    bottom: 0%;
    right: 0%;
    max-width: 50%;
    background-color: plum;
    padding: 20px;
    font-size: 25px;
    color: whitesmoke;
    font-family: monospace;
}

.navbar{
    position: absolute;
    bottom: 0%;
    right: 0%;
    max-width: 50%;
    background-color: plum;
}

.navbar ul{
    display: flex;
    list-style: none;
}

.navbar li{
    display: list-item;
    margin-left: 35px;
    margin-right: 35px;
}

.navbar a{
    text-decoration: none;
    color: whitesmoke;
    font-family: monospace;
    font-size: 25px;
}

.mid-container{
    background-color: lightsteelblue;
    width: 100%;
    position: relative;
}
.categorytitle{
    padding: 25px;
    text-align: center;
    color: whitesmoke;  
    font-size: 65px;
    font-family: monospace;
}

.display-container{
    width: 100%;
    height: 525px;
    background-color: lightsteelblue;
    display: flex;
}

.book-display{
    width: 100%;
    height: auto;
    background-color: lightsteelblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-display img{
    margin-top: 10px;
    margin-bottom: 10px;
    width: auto;
    height: 75%;
    flex: 1;
}

.book-display h1{
    color: whitesmoke;
    font-family: monospace;
    flex: 2;
}

.bot-container{
    background-color: lightblue;
    width: 100%;
    height: 275px;
    display: flex;
    position: relative;
}

.moreabout{
    width: 50%;
    height: 100%;
}

.moreabout h1{
    color: whitesmoke;
    font-family: monospace;
    margin-left: 35px;
    font-size: 30px;
}

.moreabout p{
    color: whitesmoke;
    font-family: monospace;
    margin-left: 5%;   
    font-size: 20px;
    white-space: normal;
}

.moreabout img{
    width: 50px;
    height: 50px;
}

#rightfoot.moreabout{
    text-align: right;
    margin-right: 5%;
}
@media (max-width: 768px){
    /*Smaller screen navbar hamburger menu*/
    .navbar {
        display: none;
    }

    .navbar ul{
        flex-direction: column;
    }

    .navbar.li{

    }

    .mobile-nav-icon {
        display: block;
    }

    .mobile-nav-icon:hover+.navbar {
        display: block;
    }

    .navbar:hover {
        display: block;
    }

    /*Shrink title text on smaller screen*/
    .title{
        font-size: 50px;
    }

    /*Change 3 columns to 1 column*/
    .mid-container{
        height: 3300px;
    }

    .display-container{
        height: 1600px;
        flex-direction: column;
    }

    .book-display{
        height: 30%;
        width: auto;
    }
}