@font-face{
    font-family: "strawberry-muffins";
    src: url(assets/fonts/Strawberry\ Muffins\ Demo.ttf)
}

.top-container{
    background-color: lightblue;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    position: relative;
}

.logo{
    position: absolute;
    top: 50%;
    left: 3.75%;
    transform: translate(0%, -50%);
    max-width: 20%;
    width: auto;
    height: auto;
}

.title{
    flex: 1;
    text-align: center;
    color: whitesmoke;  
    font-size: 100px;
    font-family: strawberry-muffins;
}

.mobile-nav-icon{
    display: none;
    position: absolute;
    bottom: 0%;
    right: 0%;
    max-width: 50%;
    background-color: #72CAE5;
    padding: 20px;
    font-size: 25px;
    color: whitesmoke;
    font-family: strawberry-muffins;
}

.navbar{
    position: absolute;
    bottom: 0%;
    right: 0%;
    max-width: 50%;
    background-color: #72CAE5;
}

.navbar ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.navbar li{
    display: list-item;
    margin-left: 35px;
    margin-right: 35px;
}

.navbar a{
    text-decoration: none;
    color: whitesmoke;
    font-family: strawberry-muffins;
    font-size: 25px;
}

.navbar a:hover{
    color: gray;
}

.bottomnavbar{
    width: 50%;
}

.bottomnavbar ul{
    text-align: right;
    list-style: none;
    margin-right: 5%;
}


.bottomnavbar li{
    color: whitesmoke;
    font-family: strawberry-muffins;
    font-size: 20px;
}

.bottomnavbar a:hover{
    color: gray;
}

.bottomnavbar a{
    text-decoration: none;
    color: whitesmoke;
}

.mi-container{
    background-color: lightsteelblue;
    width: 100%;
    position: relative;
}

.mid-container{
    background-color: lightsteelblue;
    width: 100%;
    position: relative;
}

.midd-container{
    background-color: lightsteelblue;
    width: 100%;
    position: relative;
}

.categorytitle{
    padding: 25px;
    text-align: center;
    color: whitesmoke;  
    font-size: 65px;
    font-family: strawberry-muffins;
}

.categorytitle a{
    text-decoration: none;
    color: whitesmoke;  
}

.categorytitle a:hover{
    color: gray;  
}

.display-container{
    width: 100%;
    height: 525px;
    background-color: lightsteelblue;
    display: flex;
}

.book-display{
    width: 100%;
    height: auto;
    background-color: lightsteelblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-display img{
    margin-top: 10px;
    margin-bottom: 10px;
    width: auto;
    height: 75%;
    flex: 1;
    transition: all 0.2s ease-in-out;
}

.book-display img:hover{
    transform: scale(1.1);
}
.book-display h1{
    color: whitesmoke;
    font-family: strawberry-muffins;
    flex: 2;
}

.book-display a{
    text-decoration: none;
    color: whitesmoke;
    font-family: strawberry-muffins;
    flex: 2;
}

.book-display h1:hover{
    color: gray;
}

.bot-container{
    background-color: #7A8899;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: flex-end;
    position: relative;
}


.sociallinks{
    text-align: left;
    width: 50%;
    height: 100%;
    color: whitesmoke;
    font-family: strawberry-muffins;
    font-size: 15px;
    margin-left: 5%;
}

.sociallinks img{
    width: 50px;
    height: 50px;
    transition: all 0.2s ease-in-out;
}

.sociallinks img:hover{
    transform: scale(1.2);
}

.navhistory{
    color: whitesmoke;
    font-family: strawberry-muffins;
    margin-left: 5%;   
    padding: 25px;
    font-size: 20px;
}

.navhistory a{
    text-decoration: none;
    color: whitesmoke;
}

.picpricecontainer{
    width: 100%;
    height: 600px;
    display: flex;
}

.imgcontainer{
    width: 60%;
    height: auto;
    display: flex;
}

.bigimage{
    width: 70%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.bigimage img{
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    transition: all 0.2s ease-in-out;
}

.bigimage img:hover{
    transform: scale(1.1);
}

.smallimages{
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.smallimage{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.smallimage img{
    width: auto;
    height: 100%;
    transition: all 0.2s ease-in-out;   
}

.smallimage img:hover{
    transform: scale(1.1);
}

.purchasecontainer{
    width: 40%;
    height: auto;
    display: flex;
    color: whitesmoke;
    font-family: strawberry-muffins;
    justify-content: center;
    font-size: 50px;
    align-items: center;
    text-align: center;

}

.purchasecontainer button{
    font-family: strawberry-muffins;
    font-size: 35px;
    background-color: lightblue;
    padding: 10px;
    border: 0;
    transition: all 0.2s ease-in-out;
}
.purchasecontainer button a {
    text-decoration: none;
    color: whitesmoke;
}

.purchasecontainer button:hover{
    transform: scale(1.1);
    background-color: #7A8899;
}

.titledesccontainer{
    margin: 0;
}

.booktitle{
    font-family: strawberry-muffins;
    font-size: 75px;
    margin: 25px;
    margin-bottom: 0;
    color: whitesmoke;
}

.bookdesc{
    font-family: strawberry-muffins;
    font-size: 30px;
    padding-top: 0;
    padding: 25px;
    color: whitesmoke;
}

.contactsection{
    padding: 20px;
    text-align: center;
    color: whitesmoke;  
    font-size: 35px;
    font-family: strawberry-muffins;
}

fieldset{
    text-align: center;
    width: 50%;
    color: whitesmoke;
    border-color: whitesmoke;
    border-style: solid;
}

legend{
    font-family: strawberry-muffins;
    font-size: 25px;
}

label{
    color: whitesmoke;
    font-family: strawberry-muffins;
    font-size: 20px;
}

input{
    font-family: strawberry-muffins;
    font-size: 20px;
}

select{
    font-family: strawberry-muffins;
    font-size: 20px;
}

textarea{
    font-family: strawberry-muffins;
    font-size: 20px;
}

@media (max-width: 992px){
    /*Smaller screen navbar hamburger menu*/
    .navbar {
        display: none;
    }

    .navbar ul{
        flex-direction: column;
    }

    .navbar.li{

    }

    .mobile-nav-icon {
        display: block;
    }

    .mobile-nav-icon:hover+.navbar {
        display: block;
    }

    .navbar:hover {
        display: block;
    }

    /*Shrink title text on smaller screen*/
    .title{
        font-size: 50px;
    }

    /*Change 3 columns to 1 column*/
    .mi-container{
        height: 4000px;
    }

    .mid-container{
        height: 3300px;
    }

    .display-container{
        height: 1600px;
        flex-direction: column;
    }

    .book-display{
        height: 30%;
        width: auto;
    }

    /*Picture and price rearrangement*/
    .picpricecontainer{
        flex-direction: column;
        height: 800px;
    }

    .imgcontainer{
        width: auto;
        height: 50%;
        display: flex;
    }

    .purchasecontainer{
        width: auto;
        height: 50%;
        display: flex;
    }

    .imgcontainer{
        align-items: center;
        height: 600px;
        flex-direction: column;
    }

    .bigimage{
        width: 75%;
        height: 50%;
        padding: 5px;
    }

    .smallimages{
        flex-direction: row;
        width: 100%; 
        height: 33%;
    }
    .smallimage{
        height: 100%;
        padding: 5px
    }

    .bigimage img{
        width: auto;
        height: 100%;
    }

    .smallimage img{
        width: auto;
        height: 100%;
    }
}
