.top-container{
    background-color: lightblue;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    position: relative;
}

.logo{
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    max-width: 20%;
    width: auto;
    height: auto;
}

.title{
    flex: 1;
    text-align: center;
    color: whitesmoke;  
    font-size: 100px;
    font-family: monospace;
}


.mid-container{
    background-color: lightsteelblue;
    width: 100%;
    position: relative;
}
.categorytitle{
    padding: 25px;
    text-align: center;
    color: whitesmoke;  
    font-size: 65px;
    font-family: monospace;
}

.display-container{
    width: 100%;
    height: 500px;
    background-color: lightsteelblue;
    display: flex;
}

.book-display{
    width: 100%;
    height: 100%;
    background-color: lightsteelblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-cover{
    width: auto;
    height: 75%;
}